@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fb Practica';
    src: url('/path/to/font/FbPractica-Regular.ttf') format('truetype');
    /* Add other font formats and font weights if available */
  }
  
  body {
    font-family: 'Fb Practica', sans-serif;
  }
  /* Move number input arrow buttons to the left */
/* You might need to adjust the padding values based on your design */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  position: absolute;
  left: 0;
  background-color: white; /* Set background color of the buttons */
  padding: 0.25rem; /* Adjust padding as needed */
}

/* Align number input text to the right */
input[type="number"] {
  text-align: right;
  /* Add more styles as needed */
}
